<div class="img-head">
  <img
    src="imgs/circuit.jpg"
    style="margin-top: 130px; margin-bottom: 30px"
    width="75%"
    height="600px"
  />
</div>
<div class="container">
  <div style="background-color: rgb(238, 236, 236)">
    <h1 id="EEEDept">Department of Electrical and Electronics Engineering</h1>
    <p style="margin: 20px 100px 0px 100px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum
      laborum minus nihil, sequi nulla ab. Repellat iure dicta quisquam quam
      quis voluptatem architecto, exercitationem consectetur. Rerum natus
      corrupti iure saepe repellat adipisci numquam nulla deserunt perferendis
      mollitia quas consequuntur earum eveniet vel, doloremque vitae veritatis
      asperiores veniam! Quo pariatur atque cum quidem esse laboriosam iure!
      Officia quo beatae, nostrum consectetur quasi mollitia tempora optio neque
      distinctio sunt ea soluta saepe quam corporis eaque in totam porro iste
      odio? Tenetur maxime voluptas ullam! Maxime omnis consequatur ad culpa eos
      autem eligendi placeat nihil aliquam nulla ratione debitis, magni vel
      quas?
    </p>
    <h1 id="HODWords">Words From HOD</h1>
    <p style="margin: 20px 100px 0px 100px">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      itaque ipsa, sed explicabo eos nesciunt magnam nemo neque necessitatibus
      sapiente! Cum in sed sunt hic, beatae ipsum eaque quae distinctio qui
      perferendis amet quibusdam, necessitatibus sequi itaque expedita cumque
      alias nostrum cupiditate libero eveniet neque laborum harum fuga iste.
      Aspernatur expedita, placeat molestias nobis nisi est dolorem ipsa
      dignissimos, odit esse delectus similique vel necessitatibus amet
      blanditiis non harum fugiat, perferendis eveniet consequuntur unde! Error
      deserunt dolor vitae. Qui dolores facilis, ex nihil animi omnis esse
      magnam voluptatibus aut similique tempora vitae consequuntur eligendi
      dolore quasi facere, cumque ipsum provident?
    </p>
  </div>
  <div class="team-section">
    <h1>Our Team</h1>
    <span class="border"> </span>
    <div class="ps">
      <a href="javascript:void(0)"
        ><img src="imgs/cover.jpg" alt="" id="img1"
      /></a>
      <a href="javascript:void(0)"
        ><img src="imgs/cover.jpg" alt="" id="img2"
      /></a>
      <a href="javascript:void(0)"
        ><img src="imgs/cover.jpg" alt="" id="img3"
      /></a>
    </div>
    <div class="section" id="p1">
      <span class="name">Mr. Muhammed Noufal C</span>
      <span class="border"></span>
      <p>
        Mr. Muhamed Nofual, completed his B.Tech in Electrical and Electronics
        Engineering from College of Engineering, Trivandrum and M.Tech in
        Electrical Engineering with specialization in Power and Energy Systems
        from National Institute of Technology Karnataka, Surathkal. He started
        his career as Assistant Professor in the Department of Electrical
        Engineering, FISAT in July 2014. His areas of interest include Power
        System Protection, Digital Signal Processing, and Robotics.
      </p>
    </div>
    <div class="section" id="p2">
      <span class="name">Maheswaran T Parameswaran</span>
      <span class="border"></span>
      <p>
        Maheswaran<br />Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consectetur exercitationem culpa architecto sunt, numquam quasi fugiat,
        placeat suscipit commodi earum hic maiores error debitis tenetur quidem
        quaerat tempora sapiente dolor!
      </p>
    </div>
    <div class="section" id="p3">
      <span class="name">Midhun Krishna PM</span>
      <span class="border"></span>
      <p>
        Midhun <br />Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Doloremque inventore quod dignissimos, eum placeat modi nihil architecto
        eveniet quae quia rerum blanditiis sint aut libero voluptatem quaerat
        reiciendis quisquam perspiciatis!
      </p>
    </div>
  </div>
</div>
