<div class="auth-form">
  <div class="form-box">
    <h2 style="color: white; margin-top: 10px">RESET PASSWORD</h2>
    <% if (msg) { %>
    <div class="alert alert-danger" role="alert"><%= msg %></div>
    <% } %>
    <div class="input-group">
      <form action="/resetpassword/<%= token %> " method="POST" id="Login">
        <input
          type="password"
          class="input-field"
          name="password"
          placeholder="Password"
          required
        />
        <input
          type="password"
          class="input-field"
          name="confirmPassword"
          id=""
          placeholder="Confirm Password"
          required
        />
        <button class="btn btn-primary signin">Send Email</button>
      </form>
    </div>
  </div>
</div>
