<div class="container">
  <h1>Welcome</h1>
  <div class="profile-header">
    <div class="profile-img">
      <img id="profile-pic" src="imgs/profile.jpeg" alt="" />
    </div>
    <div class="profile-nav-info">
      <h3 class="user-name"><%= name %></h3>
      <div class="details">
        <p class="year">2019-23</p>
        <span class="univ-id">FIT19EE029</span>
      </div>
    </div>
  </div>
  <div class="project">
    <h1>My Projects</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="imgs/thumbnail.jpeg" class="card-img-top" alt="..." />
        <div class="card-body info">
          <h1>Project 1</h1>
          <h3>Design, 2020</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit,
            recusandae!
          </p>
          <a href="/singleProject" class="btn">Read more</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="imgs/thumbnail.jpeg" class="card-img-top" alt="..." />
        <div class="card-body info">
          <h1>Project 1</h1>
          <h3>Design, 2020</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit,
            recusandae!
          </p>
          <a href="/singleProject" class="btn">Read more</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="imgs/thumbnail.jpeg" class="card-img-top" alt="..." />
        <div class="card-body info">
          <h1>Project 1</h1>
          <h3>Design, 2020</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit,
            recusandae!
          </p>
          <a href="/singleProject" class="btn">Read more</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="imgs/thumbnail.jpeg" class="card-img-top" alt="..." />
        <div class="card-body info">
          <h1>Project 4</h1>
          <h3>Major, 2020</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit,
            recusandae!
          </p>
          <a href="/singleProject" class="btn">Read more</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="imgs/thumbnail.jpeg" class="card-img-top" alt="..." />
        <div class="card-body info">
          <h1>Project 1</h1>
          <h3>Design, 2020</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit,
            recusandae!
          </p>
          <a href="/singleProject" class="btn">Read more</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="imgs/thumbnail.jpeg" class="card-img-top" alt="..." />
        <div class="card-body info">
          <h1>Project 1</h1>
          <h3>Design, 2020</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit,
            recusandae!
          </p>
          <a href="/singleProject" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="make-new-project">
    <h1>Make a New Project?</h1>
    <a href="/projectUploadPage"
      ><button class="btn btn-primary">New Project</button></a
    >
  </div>
</div>
