<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="inner cover">
      <h1 class="exhibit-banner">Explore our projects</h1>
      <p class="exhibit-banner-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
        voluptatum impedit, cum itaque recusandae vero iure vitae nemo
        consequuntur explicabo.
      </p>
    </div>
  </div>
</div>
<section>
  <h1 class="exhibit-title">explore</h1>
  <form action="" class="exhibit-form">
    <label for="cars">Year:</label>
    <select name="year" id="year"></select>
  </form>
  <!-- <div class="view-option-container">
        <button class="view-btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
        <button class="view-btn" onclick="listView()"><i class="fa fa-bars"></i> List</button>
    </div> -->
</section>
<section class="section" id="featured">
  <div class="section-center project-center" id="card-collection">
    <!-- single project -->

    <!-- end ofsingle project -->
  </div>
</section>
