<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1>Images</h1>

<% if (images) { %> <% for( let index = 0; index < images.length; index++ ) { %>
<img src="<%= images[index] %> " alt="" />
<% } %> <% } %>
